@model List<AuctionWeb.Models.Auction>

<h2 class="text-center mt-3 font-weight-bold">CÁC PHIÊN ĐẤU GIÁ ĐÃ KẾT THÚC</h2>

<!-- Nút điều hướng tới các phiên đấu giá hiện tại -->
<a href="https://localhost:7174/User/UserHome" class="btn btn-secondary mb-3 btn-sm btn-current-auctions">Phiên đấu giá hiện tại</a>


<div class="row">
    @foreach (var auction in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@auction.Product.Product_Name</h5>
                    <p class="card-text">@auction.Product.Product_Description</p>
                    <p class="card-text">Giá khởi điểm: @auction.Aut_Reserve_Price.ToString("N0") VNĐ</p>
                    <p class="card-text">Thời gian kết thúc: @auction.Aut_End_Date.ToString("dd/MM/yyyy HH:mm")</p>
                    <a href="@Url.Action("Details", "Auction", new { id = auction.Auction_ID })" class="btn btn-primary">Chi tiết</a>
                </div>
            </div>
        </div>
    }
</div>
